.Flexbox1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% auto;
    
}

.Flexbox2{
    margin: auto 5%;
    text-align: center;
}


.Flexboximg{
    width: 480px;
    height: 270px;

    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.Flexboximgdiv{
    background: linear-gradient(90deg, #04589F 0%, #fe5e60 100%);
    width: 480px;
    height: 270px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
    border: 10px solid;
    border-image-slice: 1;
    border-width: 6px;
    border-image-source: linear-gradient( 90deg, #04589F 0%, #fe5e60 100%);
}

.Flexboximgdiv:hover{
    margin-top: -30px;
    opacity: .5;
    
}

.H4flexbox{
    font-family: 'Sarabun', sans-serif;  
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    margin-top: 3%;
}


.Flexboximg:hover {
    opacity: .5;
    border: none;
}
/*--------------------------------------------------------Code pour format de tablette--------------------------------------------------------*/

@media(min-width: 768px) and (max-width: 1388px)
{

}


/*-------------------------------------------------------Code pour format de smartphone-------------------------------------------------------*/

@media(max-width: 767px)
{
    .Flexbox1{
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin: 0 auto;
        
    }

    .Flexbox2{
        margin: 10% auto;
    }

    .Flexboximg{
        width: 240px;
        height: 135px;
    }

    .Flexboximgdiv{
        width: 240px;
        height: 135px;
    }

    .H4flexbox{
        font-size: 20px;
        margin-top: 7%;
    }
}